body{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    min-height: 100vh;
}
.branch{
    background-color: aquamarine;
    padding:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    box-shadow: 8px 3px 20px 7px rgb(0, 0, 0) ;
    width: 50vw;
    margin: 100px 0;
}



#form{
    background-color: blanchedalmond;
    padding:20px;
    border-radius: 10px;
    font-weight: 500;
    width:50vw;    
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content:space-around;
    border: 2px solid black;
    box-shadow: 8px 3px 20px 7px rgb(0, 0, 0) ;
    margin: 100px 0;
    
}
#form-div{
    display: flex;
    flex-direction: column;
    margin: 10px ;
    justify-content: flex-end;
    font-size:110%
}
#form label{
    margin-bottom: 5px;
}
.selector{
    background-color: aquamarine;
    border: 2px solid rgb(16, 41, 38);
    border-radius: 5px;
}
#form input,select{
    border-radius: 5px;
    padding: 7px;
    font-weight: 500;
    font-size:smaller;
        border: 2px solid black;

}
#expense_heading{
    width:50vw;
    margin-right: 20px;
    text-align: center;
}